/**
 * @file secrets.h
 * @author hktkzyx (hktkzyx@yeah.net)
 * @brief Head file to store secrets info.
 */
#ifndef BLUETOOTHGATEWAY_SECRETS_H_
#define BLUETOOTHGATEWAY_SECRETS_H_

#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "wifi_password"
#define MQTT_IP "" // Do not delete if empty
#define MQTT_DOMAIN "google.com"
#define MQTT_USER "test_user"
#define MQTT_PASSWORD "password"
#define MQTT_CLIENT_ID "test_id"

#endif
